h1{
    text-align: center;
    margin-top: 25px;
  
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}
.header{
    display: flex;
    justify-content: center;
    
}
.container{
    background-color: #9FB295;
    border-radius: 10px;
}

button{
    padding: 30px;
}
 

 
