<div class="d-flex justify-content-center">
  <button
    routerLink="/first-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    type="button"
    class="btn btn-primary p-2 ms-5 my-5"
  >
    current week leaderboard (Top 200)
  </button>
  <button
    routerLink="/second-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    type="button"
    class="btn btn-primary p-2 ms-5 my-5"
  >
    Last week leaderboard (Top 200)
  </button>
  <button
    routerLink="/third-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    type="button"
    class="btn btn-primary p-2 ms-5 my-5"
  >
    See All Data
  </button>
  <button
    routerLink="/fourth-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    type="button"
    class="btn btn-primary p-2 ms-5 my-5"
  >
    Get user ranking by id
  </button>
</div>

<router-outlet></router-outlet>
